{{!-- <ul class="objectList">
    {{#each this}}
    	{{#each this}}
        <li>
            <div class="card modal-content" style="text-align: left; margin-bottom: 3rem;">
                <div class="card-body">
                    <h4 class="card-title">Establishment: {{this.establishment}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">City: {{this.city}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Items Ordered: {{this.itemsOrdered}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Rating: {{this.rating}}</h6>
                    <p class="card-text">Blog: {{this.story}}</p>
                    <a href="#" class="card-link">API URL link</a>
                </div>
                <button class="delete-blog" style="text-align: center;" data-id="{{this.id}}">Delete Blog</button>
            </div>
        </li>
        {{/each}}
    {{/each}}
</ul> --}}