<!-- add section, move nav and all div inside section -->
<section>
    <!-- remove navbar-default -->
    <nav class="navbar">
        <div class="container-fluid">

            <div class="navbar-header link">
                <a class="navbar-brand btn" href="/logout">
                    Logout
                </a>
                <a class="navbar-brand btn" href="/deleteuser">
                    Delete Account
                </a>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="container text-center">
            <div class="row d-flex justify-content-right">

                <div class="col-md-4">
                    <div class="card">
                        <div id="cityList" class="card-body">
                            <h5 class="card-title">Restaurants by city</h5>
                            <div class="col-md-4">
                                <div class="card">
                                    <div id="cityList" class="card-body">
                                        <h4 class="card-title">Restaurants by City</h4>

                                        <input type="cityName" class="form-control mb-3" id="cityInput"
                                            placeholder="City name" />
                                        {{!-- <label for="quantity">Quantity between 1 and 5:</label>
                                <input type="number" id="quantity" name="quantity" min="1" max="5"> --}}
                                        <button id="cityBtn" type="submit" class="btn btn-primary">Get me Info!</button>
                                        <br>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- remove col-md-offset-3, change to col-md-12, add modal-content -->
                        <div class="col-md-5 modal-content">
                            <h2>Welcome <span class="member-name"></span></h2>
                            <h3>Write a new blog!</h3>
                            <form class="blogData">
                                <div class="form-group">
                                    <label for="blogData">City</label>
                                    <input type="city" class="form-control" id="city-input" placeholder="City name" />
                                </div>
                                <div class="form-group">
                                    <label for="blogData">Establishment</label>
                                    <input type="establishment" class="form-control" id="establishment-input"
                                        placeholder="Establishment name" />
                                </div>
                                <div class="form-group">
                                    <label for="blogData">Items Ordered</label>
                                    <input type="itemsOrdered" class="form-control" id="itemsOrdered-input"
                                        placeholder="Items Ordered" />
                                </div>
                                <div class="form-group">
                                    <label for="blogData">Rating</label>
                                    <input type="rating" class="form-control" id="rating-input"
                                        placeholder="Rating 1-5" />
                                </div>
                                <div class="form-group">
                                    <label for="blogData">Blog</label>
                                    {{!-- Change input to textarea --}}
                                    {{!-- <input type="blog" class="form-control" id="blog-input" placeholder="Blog"/> --}}
                                    <textarea rows="4" type="blog" class="form-control" id="blog-input"
                                        placeholder="Blog"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Create blog!</button>
                            </form>
                        </div>
                    </div>
                    <br>
                    <div>
                        <div class="col-3">
                            <p>My email address is: <span class="member-email"></span></p>
                        </div>
                    </div>
                    <br>
                    <ul class="objectList" style="list-style: none;">
                        <P>{{blogObject}}</P>
                        {{#each userBlogs.blogObject}}
                        <li>
                            <div class="card modal-content" style="text-align: left; margin-bottom: 3rem;">
                                <div class="card-body">
                                    <h4 class="card-title">Establishment: {{id}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">City: {{city}}</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">Items Ordered: {{itemsOrdered}}</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">Rating: {{rating}}</h6>
                                        <p class="card-text">Blog: {{story}}</p>
                                        <a href="#" class="card-link">API URL link</a>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
</section>

<script type="text/javascript" src="js/members.js"></script>